.main-container {
  flex: 1;
  background: #414141;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
.grid-turn-container {
  
  background: #414141;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
.turn {
  background: #1f1f1f;
  height: 100px;
  min-width: 200px;
  color: white;
  margin-top: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 980px) {
  .turn {
    display: none;
  }
}