
.boat-amount-container {
  
  height: 40px;
  
  display: flex;
  align-items: center;
  
  color: white;
  width: 210px;
}
.boat-amount-container span {
  margin-right: 20px;
  font-size: 30px;
  font-weight: bolder;
}
.draggable-item {
  display: flex;
  
}
.vertical {
  flex-direction: column;
  align-items: unset;
  height: auto;
  width: 50px;
  flex-wrap: wrap;
  min-height: 210px;
}
.boats-container {
  
  
  width: 298px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid grey;
}
