.gameboard-container {
  width: 400px;
  height: 500px;
  border: 1px solid grey;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.title-container {
  height: 100px;
  width: 100%;
  display: flex;
  background: #1f1f1f;
  justify-content: center;
  align-items: center;
  color: white;
}
.grid-container {
  border: 1px solid grey;
}
.computer-grid {
  cursor: crosshair;
  display: flex;
  justify-content: center;
  align-items: center;
}
.computer-grid:hover {
  background: rgb(168, 168, 168);
}
.computer-grid i {
  color: rgb(148, 0, 0);
}
.visible-player i {
  color: black;
}
.visible-player:hover {
  background: white;
}